@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

.simple-main {
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #dedede;
  font-family: 'Nunito', sans-serif;
  h4 {
    strong {
      color: rgba($color: #000, $alpha: 0.7);
      border-bottom: 1px solid #dedede;
    }
    font-size: 0.85em;
    padding-top: 1em;
    padding-bottom: 1em;
    color: rgba($color: #000, $alpha: 0.6);
  }
}

.simple-image-grid {
  width: 100% !important;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.simple-image-resume {
  background-color: #f2f2f2;
  width: 100%;
  font-size: 0.85em;
  font-weight: bold;
  color: rgba($color: #000, $alpha: 0.7);
  div {
    text-align: end;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
  }
}

.simple-background::before {
  content: '';
  padding-bottom: 100%;
  display: inline-block;
  vertical-align: top;
}

.simple-background {
  width: 100%;
  position: relative;
  background-position: center !important;
  background-size: cover !important;
  background-color: #dedede;
  margin-left: 0;
  margin-right: 0;
  .simple-background-layer {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    .simple-background-tag {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 15%;
      position: absolute;
      color: white;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      font-size: 0.85em;
      bottom: 0;
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0.7189250700280112) 36%,
        rgba(0, 0, 0, 0.5144432773109244) 65%,
        rgba(0, 0, 0, 0) 100%
      );
      .simple-background-label {
        margin-right: 0.35em;
      }
    }
  }
}
